body
{
    width:100%;
    font-family: 'Lato', sans-serif;
}

#header
{
	width: 1100px;
	height: 210px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#header h1
{
	font-weight: 900;
	font-size: 30px;
	height: 20px;
}

#header h3
{
	color: #BEBEBE;
	font-size: 14px;
	font-weight: 400;
}

#header p
{
	padding-top: 10px;
	font-size: 15px;
	text-align: left;
	width: 80%;
	line-height: 24px;
}

.titles
{
	position: absolute;
	font-size: 14px;
	margin-left: 30px;
	margin-top: 20px;
}

#histogram
{
	width: 1100px;
	height: 280px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #E9E9E9;
	border-radius: 7px;
}

#container
{
	width: 1100px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#mapContainer
{
	width: 560px;
	height: 400px;
	display: block;
	float: left;
	margin-top:20px;
	border: 2px solid #E9E9E9;
	border-radius: 7px;
}

#map
{
	width: 560px;
	height: 400px;
}

#pieContainer
{
	float: left;
	width: 510px;
	height: 400px;
	border: 2px solid #E9E9E9;
	border-radius: 7px;
	margin-left: 20px;
	margin-top: 20px;
}

#pie
{
	width: 250px;
	height: 400px;
	float: left;
	display: block;
}

#table
{
	margin-left: 10px;
	width: 220px;
	height: 400px;
	display: block;
	float: left;
	font-size: 11px;
}

.legend
{
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
    padding-top: 10px;
}

.legend td
{
    padding:4px 5px;
    vertical-align:center;
}

.legendFreq
{
    text-align:left;
    width:24px;
}

.legendPerc
{
	text-align:right;
    width:24px;
}

.state
{
	fill: none;
	stroke: white;
	stroke-width: 2;
}

.state:hover
{
	fill-opacity:0.7;
}

#tooltip 
{   
	position: absolute;           
	text-align: left;
	padding: 20px;             
	margin: 10px;
	font: 12px 'Lato', sans-serif;        
	background: lightsteelblue;   
	border: none;      
	border-radius: 2px;           
	pointer-events: none;         
}

#tooltip h4
{
	text-align: center;
	margin:0;
	font-size:12px;
	text-transform: uppercase;
}

#tooltip hr
{
	border: none;
	height: 1px;
	background-color: white;
	opacity: 0.7;
}

#tooltip
{
	background:rgba(0,0,0,0.9);
	border:none;
	border-radius:5px;
	font-size:12px;
	width:auto;
	padding:4px;
	color:white;
	opacity:0;
}

#tooltip table
{
	table-layout:fixed;
}

#tooltip tr td
{
	padding:0;
	margin:0;
}

#tooltip tr td:nth-child(1)
{
	width:50px;
}

#tooltip tr td:nth-child(2)
{
	text-align:right;
}

path 
{  
	stroke: white; 
}

path:hover 
{  
	opacity:0.9; 
}

rect:hover 
{  
	fill:#0059C1; 
}

.axis 
{  
	font: 10px 'Lato', sans-serif; 
}

.axis path,
.axis line 
{
	fill: none;
	stroke: white;
}

.x.axis path 
{  
	display: none; 
}